## Data Analysis with Python: Zero to Pandas - Course Project Guidelines
#### (remove this cell before submission)

Important links:
- Make submissions here: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Ask questions here: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
- Find interesting datasets here: https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711


This is the starter notebook for the course project for [Data Analysis with Python: Zero to Pandas](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas). You will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project . Focus on documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations wherever possible using Markdown cells.

### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 3 columns and 150 rows of data
* You must ask and answer at least 4 questions about the dataset
* Your submission must include at least 4 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted for somewhere else.


Follow this step-by-step guide to work on your project.


### Step 1: Select a real-world dataset 

- Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
- The data should be in CSV format, and should contain at least 3 columns and 150 rows
- Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

Here's some sample code for downloading the [US Elections Dataset](https://www.kaggle.com/tunguz/us-elections-dataset):

```
import opendatasets as od
dataset_url = 'https://www.kaggle.com/tunguz/us-elections-dataset'
od.download('https://www.kaggle.com/tunguz/us-elections-dataset')
```

You can find a list of recommended datasets here: https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711

### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


### Step 3: Perform exploratory analysis & visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

### Step 4: Ask & answer questions about the data

- Ask at least 4 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis


### Step 6: Make a submission & share your work

- Upload your notebook to your Jovian.ml profile using `jovian.commit`.
- **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
- Browse through projects shared by other participants and give feedback


### (Optional) Step 7: Write a blog post

- A blog post is a great way to present and showcase your work.  
- Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
- Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
- Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml





### Example Projects

Refer to these projects for inspiration:

* [Analyzing StackOverflow Developer Survey Results](https://jovian.ml/aakashns/python-eda-stackoverflow-survey)

* [Analyzing Covid-19 data using Pandas](https://jovian.ml/aakashns/python-pandas-data-analysis) 

* [Analyzing your browser history using Pandas & Seaborn](https://medium.com/free-code-camp/understanding-my-browsing-pattern-using-pandas-and-seaborn-162b97e33e51) by Kartik Godawat

* [WhatsApp Chat Data Analysis](https://jovian.ml/PrajwalPrashanth/whatsapp-chat-data-analysis) by Prajwal Prashanth

* [Understanding the Gender Divide in Data Science Roles](https://medium.com/datadriveninvestor/exploratory-data-analysis-eda-understanding-the-gender-divide-in-data-science-roles-9faa5da44f5b) by Aakanksha N S

* [2019 State of Javscript Survey Results](https://2019.stateofjs.com/demographics/)

* [2020 Stack Overflow Developer Survey Results](https://insights.stackoverflow.com/survey/2020)



**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Project Title - change this

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

### How to run the code

This is an executable [*Jupyter notebook*](https://jupyter.org) hosted on [Jovian.ml](https://www.jovian.ml), a platform for sharing data science projects. You can run and experiment with the code in a couple of ways: *using free online resources* (recommended) or *on your own computer*.

#### Option 1: Running using free online resources (1-click, recommended)

The easiest way to start executing this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. You can also select "Run on Colab" or "Run on Kaggle".


#### Option 2: Running on your computer locally

1. Install Conda by [following these instructions](https://conda.io/projects/conda/en/latest/user-guide/install/index.html). Add Conda binaries to your system `PATH`, so you can use the `conda` command on your terminal.

2. Create a Conda environment and install the required libraries by running these commands on the terminal:

```
conda create -n zerotopandas -y python=3.8 
conda activate zerotopandas
pip install jovian jupyter numpy pandas matplotlib seaborn opendatasets --upgrade
```

3. Press the "Clone" button above to copy the command for downloading the notebook, and run it on the terminal. This will create a new directory and download the notebook. The command will look something like this:

```
jovian clone notebook-owner/notebook-id
```



4. Enter the newly created directory using `cd directory-name` and start the Jupyter notebook.

```
jupyter notebook
```

You can now access Jupyter's web interface by clicking the link that shows up on the terminal or by visiting http://localhost:8888 on your browser. Click on the notebook file (it has a `.ipynb` extension) to open it.

## Downloading the Dataset

**TODO** - add some explanation here

> Instructions for downloading the dataset (delete this cell)
>
> - Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
> - The data should be in CSV format, and should contain at least 3 columns and 150 rows
> - Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

In [1]:
!pip install jovian opendatasets --upgrade --quiet

Let's begin by downloading the data, and listing the files within the dataset.

In [2]:
# Change this
dataset_url = 'https://www.kaggle.com/datasets/rohanrao/nifty50-stock-market-data'

In [3]:
import opendatasets as od
od.download(dataset_url)

Skipping, found downloaded files in ".\nifty50-stock-market-data" (use force=True to force download)

The dataset has been downloaded and extracted.

In [4]:
# Change this
data_dir = './nifty50-stock-market-data'

In [5]:
import os
os.listdir(data_dir)

['NIFTY50_all.csv']

Let us save and upload our work to Jovian before continuing.

In [6]:
project_name = "zerotopandas-course-project-starter" # change this (use lowercase letters and hyphens only)

In [7]:
!pip install jovian --upgrade -q

In [8]:
import jovian

In [9]:
jovian.commit(project=project_name)

[jovian] Updating notebook "mpshivanandpatil2002/zerotopandas-course-project-starter" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter

'https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter'

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [10]:
import pandas as pd
nifty_df = pd.read_csv('./nifty50-stock-market-data/NIFTY50_all.csv')

In [11]:
nifty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235192 entries, 0 to 235191
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                235192 non-null  object
 1   Symbol              235192 non-null  object
 2   Series              235192 non-null  object
 3   Prev Close          235192 non-null  float64
 4   Open                235192 non-null  float64
 5   High                235192 non-null  float64
 6   Low                 235192 non-null  float64
 7   Last                235192 non-null  float64
 8   Close               235192 non-null  float64
 9   VWAP                235192 non-null  float64
 10  Volume              235192 non-null  int64
 11  Turnover            235192 non-null  float64
 12  Trades              120344 non-null  float64
 13  Deliverable Volume  219115 non-null  float64
 14  %Deliverble         219115 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 26.9+ MB

In [12]:
nifty_df['Date'] = pd.to_datetime(nifty_df['Date'])

In [13]:
# delete unwanted columns, I don't understand these columns
# make a new df with wanted columns
unwanted_columns = ['Series', 'Trades', '%Deliverble', 'Deliverable Volume', 'Turnover']

nifty_valid_df = nifty_df.drop(columns=unwanted_columns)

In [14]:
nifty_valid_df

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume
0,2007-11-27,MUNDRAPORT,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366
1,2007-11-28,MUNDRAPORT,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338
2,2007-11-29,MUNDRAPORT,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121
3,2007-11-30,MUNDRAPORT,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762
4,2007-12-03,MUNDRAPORT,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470
...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755
235188,2021-04-27,ZEEL,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767
235189,2021-04-28,ZEEL,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439
235190,2021-04-29,ZEEL,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009
235191,2021-04-30,ZEEL,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285

In [15]:
# Calculate the min and max closing prices for each stock
nifty_close_var_df = nifty_valid_df.groupby('Symbol').agg(
    Min_Price=('Close', 'min'),
    Max_Price=('Close', 'max')
).reset_index()

# Calculate the variability (difference between max and min prices)
nifty_close_var_df['Variability'] = nifty_close_var_df['Max_Price'] - nifty_close_var_df['Min_Price']

# Extract the top 15 stocks with the maximum variability
max_var_stocks_df = nifty_close_var_df.nlargest(15, 'Variability')

max_var_stocks_df

        Symbol  Min_Price  Max_Price  Variability
14   EICHERMOT      17.70   32861.95     32844.25
47    SHREECEM      24.10   31748.75     31724.65
40   NESTLEIND    2489.35   18732.70     16243.35
28  INFOSYSTCH    1102.30   16855.90     15753.60
4   BAJAJFINSV      90.75   11176.55     11085.80
6   BAJFINANCE     544.40   11393.30     10848.90
38      MARUTI     164.30    9832.45      9668.15
62       WIPRO     162.35    9587.45      9425.10
57  ULTRACEMCO     255.55    6971.25      6715.70
10   BRITANNIA     336.35    6900.15      6563.80
16      GRASIM     172.50    5286.10      5113.60
13     DRREDDY     374.00    5416.80      5042.80
1   ASIANPAINT     210.75    5213.10      5002.35
56       TITAN      27.50    4714.60      4687.10
46     SESAGOA      38.10    4344.20      4306.10

### Calculate the Origin Price and Last Closing Price for each Stock, and get the top 10 performers

In [16]:
nifty_max_gainers_df = nifty_df.groupby('Symbol').agg(
    Origin_Price=('Open', 'first'),
    Final_Closing_Price=('Close', 'last'),
    Duration_Days=('Date', lambda x: (x.max() - x.min()).days),  # life duration of stock in days
    Duration_Years=('Date', lambda x: round((x.max() - x.min()).days / 365.25))
).reset_index()

nifty_max_gainers_df['Total_Gain'] = nifty_max_gainers_df['Final_Closing_Price'] - nifty_max_gainers_df['Origin_Price']
nifty_max_gainers_df['Annual_Gain_Perc'] =  (nifty_max_gainers_df['Total_Gain'].div(nifty_max_gainers_df['Origin_Price']) * 100).div(nifty_max_gainers_df['Duration_Years'])
    
# Format 'AnnualGainPercentage' as percentage with two decimal places
# nifty_max_gainers_df['Annual_Gain_Perc'] = nifty_max_gainers_df['Annual_Gain_Perc'].apply(lambda x: "{:.2%}".format(x))

In [17]:
nifty_max_gainers_df

,Symbol,Origin_Price,Final_Closing_Price,Duration_Days,Duration_Years,Total_Gain,Annual_Gain_Perc
0,ADANIPORTS,137.1,730.05,3391,9,592.95,48.054948
1,ASIANPAINT,370.0,2536.40,7788,21,2166.40,27.881596
2,AXISBANK,588.0,714.90,5006,14,126.90,1.541545
3,BAJAJ-AUTO,898.0,3833.75,4722,13,2935.75,25.147764
4,BAJAJFINSV,600.0,11041.65,4722,13,10441.65,133.867308
...,...,...,...,...,...,...,...
60,UTIBANK,26.7,597.50,2780,8,570.80,267.228464
61,VEDL,218.4,257.25,2185,6,38.85,2.964744
62,WIPRO,2724.0,492.75,7788,21,-2231.25,-3.900514
63,ZEEL,230.0,185.60,5175,14,-44.40,-1.378882
64,ZEETELE,1175.0,238.35,2612,7,-936.65,-11.387842

In [18]:
import jovian

In [19]:
jovian.commit()

[jovian] Updating notebook "mpshivanandpatil2002/zerotopandas-course-project-starter" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter

'https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter'

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [20]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [21]:
import jovian

In [22]:
jovian.commit()

[jovian] Updating notebook "mpshivanandpatil2002/zerotopandas-course-project-starter" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter

'https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter'

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - Who are top gainers a/c to total gains?

In [23]:
# total_gain top 10
nifty_max_gainers_df = nifty_max_gainers_df.nlargest(10, 'Total_Gain')

selected_columns = ['Symbol', 'Origin_Price', 'Final_Closing_Price', 'Duration_Years', 'Total_Gain']

# Use to_string to print only selected columns in a table format
table_string = nifty_max_gainers_df[selected_columns].to_string(index=False)

# Display the result
print(table_string)

    Symbol  Origin_Price  Final_Closing_Price  Duration_Years  Total_Gain
  SHREECEM          68.0             27910.50              21    27842.50
 NESTLEIND        2555.0             16309.25              11    13754.25
BAJAJFINSV         600.0             11041.65              13    10441.65
    MARUTI         164.9              6455.65              18     6290.75
ULTRACEMCO         305.0              6278.95              17     5973.95
BAJFINANCE         780.0              5451.90              11     4671.90
   DRREDDY        1505.0              5163.10              21     3658.10
BAJAJ-AUTO         898.0              3833.75              13     2935.75
 BRITANNIA         705.0              3449.00              21     2744.00
 EICHERMOT          48.0              2421.65              21     2373.65

#### Q2: TODO - top gainers a/c to annual gain perc

In [24]:
# annual gain top 10
nifty_max_gainers_df = nifty_max_gainers_df.nlargest(10, 'Annual_Gain_Perc')

selected_columns = ['Symbol', 'Origin_Price', 'Final_Closing_Price', 'Duration_Years', 'Annual_Gain_Perc']

# Use to_string to print only selected columns in a table format
table_string = nifty_max_gainers_df[selected_columns].to_string(index=False)

# Display the result
print(table_string)

    Symbol  Origin_Price  Final_Closing_Price  Duration_Years  Annual_Gain_Perc
  SHREECEM          68.0             27910.50              21       1949.754902
 EICHERMOT          48.0              2421.65              21        235.481151
    MARUTI         164.9              6455.65              18        211.938212
BAJAJFINSV         600.0             11041.65              13        133.867308
ULTRACEMCO         305.0              6278.95              17        115.216008
BAJFINANCE         780.0              5451.90              11         54.451049
 NESTLEIND        2555.0             16309.25              11         48.938801
BAJAJ-AUTO         898.0              3833.75              13         25.147764
 BRITANNIA         705.0              3449.00              21         18.534279
   DRREDDY        1505.0              5163.10              21         11.574434

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [25]:
import jovian

In [26]:
jovian.commit()

[jovian] Updating notebook "mpshivanandpatil2002/zerotopandas-course-project-starter" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter

'https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter'

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [27]:
import jovian

In [28]:
jovian.commit()

[jovian] Updating notebook "mpshivanandpatil2002/zerotopandas-course-project-starter" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter

'https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter'

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [29]:
import jovian

In [30]:
jovian.commit()

[jovian] Updating notebook "mpshivanandpatil2002/zerotopandas-course-project-starter" on https://jovian.com/
[jovian] Committed successfully! https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter

'https://jovian.com/mpshivanandpatil2002/zerotopandas-course-project-starter'